mixin textField(args)
    input.text-field(type='text' placeholder=args.placeholder value=args.value)&attributes(attributes)

mixin textFieldSub(args)
    .text-field-sub
        input.text-field-sub__text(type='text' placeholder=args.placeholder value=args.value)
        +icon('arrow-right')