extends ../layout/ui-layout
include ../../ui-kit/text-field/text-field
include ../../ui-kit/dropdown/dropdown
include ../../ui-kit/title-block/title-block
include ../../ui-kit/checkbox/checkbox
include ../../ui-kit/radio-buttons/radio-buttons
include ../../ui-kit/toggle-btn/toggle-btn
include ../../ui-kit/like-button/like-button
include ../../ui-kit/rate-button/rate-button
include ../../ui-kit/range-slider/range-slider
include ../../ui-kit/buttons/buttons
include ../../ui-kit/pagination/pagination

block variables
  - var title = 'Form elements';

block content
  .ui-kit
    .ui-kit-icon.icon-logo-page
  .container
    .form-elements
      .form-elements__col
        //TEXT FIELD
        .form-elements__item
          .form-elements__title-wrap
            +titleBlock({text: 'text field'})
            .form-elements__default default
          +textField({placeholder: 'Email'})
        //TEXT FIELD
        .form-elements__item
          .form-elements__title-wrap
            +titleBlock({text: 'text field'})
            .form-elements__default hover / focus
          +textField({value: 'This is pretty awesome'})
        //DROPDOWN
        .form-elements__item
          .form-elements__title-wrap
            +titleBlock({text: 'dropdown'})
            .form-elements__default default
          +dropdown({text: 'Сколько гостей'})
        //MASKED TEXT FIELD
        .form-elements__item
          .form-elements__title-wrap
            +titleBlock({text: 'masked text field'})
            .form-elements__default default
          +textField({placeholder: 'ДД.ММ.ГГГГ'})
        //DATE DROPDOWN
        .form-elements__item
          .form-elements__item_flex
            .form-elements__item_flex-col
              .form-elements__title-wrap
                +titleBlock({text: 'date dropdown'})
              +dropdown({text: 'ДД.ММ.ГГГГ'})
            .form-elements__item_flex-col
              .form-elements__title-wrap
                +titleBlock({text: 'date dropdown'})
              +dropdown({text: '19.08.2019'})
        //FILTER DATE DROPDOWN
        .form-elements__item
          .form-elements__title-wrap
            +titleBlock({text: 'filter date dropdown'})
          +dropdown({text: '19 авг-23 авг'})
        //SUBSCRIPTION TEXT FIELD
        .form-elements__item
          .form-elements__title-wrap
            +titleBlock({text: 'subscription text field'})
          +textFieldSub({placeholder: 'Email'})


      .form-elements__col
        //CHECKBOX BUTTONS
        .form-elements__item_center
          .form-elements__title-wrap_center
            +titleBlock({text: 'checkbox buttons'})
          +checkbox({text: 'Можно курить'})
          +checkbox({text: 'Можно с питомцами'})(checked)
          +checkbox({text: 'Можно пригласить гостей (до 10 человек)'})(checked)
        //RADIO BUTTONS
        .form-elements__item_center
          .form-elements__title-wrap_center
            +titleBlock({text: 'radio buttons'})
          .form-elements__item_flex
            .form-elements__item_flex-col
              +radioButton({text: 'Мужчина', value: 'man'})(checked)
            .form-elements__item_flex-col
              +radioButton({text: 'Женщина', value: 'women'})
        //TOGGLE
        .form-elements__item_center
          .form-elements__title-wrap_center
              +titleBlock({text: 'toggle'})
          +toggle-btn({text: 'Получать спецпредложения'})(checked)
          +toggle-btn({text: 'Получать спецпредложения'})
        //LIKE BUTTON
        .form-elements__item_center
          .form-elements__title-wrap_center
              +titleBlock({text: 'like button'})
          +like-button('2')
          +like-button('12', 'checked')
        //RATE BUTTON
        .form-elements__item_center
          .form-elements__title-wrap_center
              +titleBlock({text: 'rate button'})
          .form-elements__item_rate
            +rate-button("4")
            +rate-button("5")


      .form-elements__col
        //RANGE SLIDER
        .form-elements__item_right
          +range-slider("range slider", "5000", "10000", "0", "16000")
        //BUTTONS
        .form-elements__item_right
          .form-elements__title-wrap
            +titleBlock({text: 'buttons'})
          .form-elements__item_right_btn
            .form-elements__item_right_btn_item
              +button-primary({text: 'click me'})
              +button-primary({text: 'click me'})(class='btn-isClicked')
            .form-elements__item_right_btn_item
              +button-border({text: 'click me'})
              +button-border({text: 'click me'})(class='btn-isClicked')
            .form-elements__item_right_btn_item
              +button-single({text: 'click me'})
              +button-single-black({text: 'click me'})
            +button-space({text: 'перейти к оплате'})
        //PAGINATION
        .form-elements__item_right
          +pagination({text: '1 – 12 из 100+ вариантов аренды'})

