mixin radioButton(args)
    label.radio-button
        input.radio-button__input(type="radio" name='gender' value=args.value)&attributes(attributes)
        .radio-button__checkmark
            .radio-button__check
        .radio-button__text #{args.text}