mixin radioButton(args)
    label.radio-button
        input.radio-button__input(type="radio")&attributes(attributes)
        .radio-button__checkmark
            .radio-button__check
        .radio-button__text #{args.text}