mixin dropdown(args)
  .dropdown
      .dropdown__text #{args.text}
      +icon('arrow-down')
  .dropdown-select

mixin dropdownDate(args)
    .dropdown-date
        .dropdown__text #{args.text}
        +icon('arrow-down')
    .dropdown-date-select
