@import '../../static/styles/utils/vars';

.dropdown {
  display: flex;
  justify-content: space-between;
  border-color: $dark-shade-50;
  border-radius: 4px;
  border: 1px solid $dark-shade-25;
  cursor: pointer;
  &__text {
    font-family: $font-montserrat;
    @include body-text;
    width: 100%;
    background: $white;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 9px 15px 9px 15px;
    outline: none;
  }
  &:hover,
  &:focus,
  &:active {
    border: 1px solid $dark-shade-50;
  }
}