@import '../../static/styles/utils/vars';

.button {
  display: inline-block;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  text-decoration: none;

  font-family: $mainFont;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  transition: all 0.4s ease;
  background-color: transparent;
  padding: 0;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}


.button-primary {
  background: linear-gradient($primary-gradient);
  color: $white;
  padding: 14px 20px 15px;
  &:hover, &:focus {
    opacity: 0.5;
  }
  &--small {
    padding: 9px 19px;
  }
  &_size_small {
    padding: 9px 19px;
  }
  &_width_custom {
    width: 100%;
  }
}

.button-primary_clicked {
  opacity: 0.5;
}

.button-secondary {
  color: $purple;
  border-radius: 50px;
  padding: 2px;
  position: relative;
  z-index: 1;
  
  &:hover, &:focus {
    .button-secondary__outer {
      opacity: 0.5;
    }
  }
  
  // &--small {
  //   padding-top: 8px;
  //   padding-bottom: 7px;
  // }
  &_size_small {
    padding-top: 8px;
    padding-bottom: 7px;
  }
  &__inner {
    padding: 12px 18px 13px;
    border-radius: inherit;
    background-color: $white;
    // &--small {
    //   padding: 7px 17px;
    //   // padding-top: 7px;
    //   // padding-bottom: 7px;
    // }
    &_size_small {
      padding: 7px 17px;
    }
  }
  &__outer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 50px;
    background: linear-gradient($primary-gradient);
    transition: all 0.4s ease;
  }
  &_width_custom {
    width: 100%;
    .button-secondary__inner {
      text-align: center;
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.button-secondary_clicked {
  .button-secondary__outer {
    opacity: 0.5;
  }
}

.button-single, .button_color_blue {
  color: $purple;
  &:hover {
    color: $blue;
  }
}

.button-single-dark, .button_color_dark {
  color: $dark-shade-50;
  &:hover {
    color: $dark-shade-75;
  }
}
.button-wide {
  @extend .button-primary;
  width: 100%;
  display: block;
  text-align: center;
  position: relative;
  &__arrow {
    display: block;
    position: absolute;
    right: 14px;
    top: 10px;
    font-size: 24px;
    line-height: 24px;
  }
}