@import "../utils/vars";

.form-elements {
  width: 100%;
  padding: 140px;
  display: flex;
  flex-wrap: wrap;
  &__col {
    width: 33.333333333333%;
    height: 100%;
  }
  &__item {
    width: 320px;
    margin-bottom: 20px;
    &:nth-child(4) {
      margin-bottom: 40px;
    }
    &:nth-child(5) {
      margin-bottom: 40px;
    }
    &:nth-child(6) {
      width: 265px;
      margin-bottom: 40px;
    }
    &:nth-child(7) {
      width: 265px;
      margin-bottom: 100px;
    }
    &_flex {
      width: 320px;
      display: flex;
      justify-content: space-between;
      &:nth-child(2) {
        width: 220px;
      }
      &-col {
        width: 100%;
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    &_center {
      margin-bottom: 40px;
      &:nth-child(2) {
        margin-bottom: 35px;
      }
      &:nth-child(3) {
        margin-bottom: 45px;
      }
    }
    &_right {
      margin-bottom: 40px;
      &_btn {
        display: flex;
        flex-direction: column;
        &_item {
          display: flex;
          justify-content: space-between;
          width: 220px;
          margin-bottom: 30px;
          &:first-child {
            margin-top: 15px;
          }
          &:nth-child(3) {
            width: 140px;
          }
        }
      }
    }
    &_rate {
      width: 260px;
      display: flex;
      justify-content: space-around;
    }
  }
  &__title-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    &_center {
      margin-bottom: 15px;
      line-height: 14px;
    }
  }
  &__default {
    display: inline-block;
    font-family: $font-montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: $dark-shade-50;
    vertical-align: center;
    text-transform: uppercase;
  }
}